---
import './features.css';
import Image from 'astro/components/Image.astro';
import imageSword from '~/assets/images/sword.png';
import imageSplash from '~/assets/images/sword-splash.png';
import SvgRadialGradient from '~/assets/images/radial-gradient.svg';
import imageSwordWithSplash from '~/assets/images/sword-with-splash.png';
import imageFeaturesTitleSvgRu from './assets/features-ru.svg';
import Button from '~/components/button/Button.astro';
---

<script>
  import Parallax from 'parallax-js';

  var featuresScene = document.getElementById('features-scene');
  var parallaxInstance = new Parallax(featuresScene, {
    relativeInput: true,
    clipRelativeInput: true,
    calibrateX: true,
  });

  if (window.innerWidth < 700) {
    parallaxInstance.destroy();
  }
</script>

<section id="landing-features" class="landing-features">
  <div id="features-scene" class="landing-features__bg hidden md:block">
    <Image data-depth="0.1" class="splash" src={imageSplash} alt="" />
    <div data-depth="0.2" class="layer">
      <Image class="gradient" src={SvgRadialGradient} alt="" />
    </div>
    <div data-depth="0.3" class="layer">
      <Image class="sword" src={imageSword} alt="" />
    </div>
    <!-- <Image class="sword" src={imageSwordWithSplash} alt="" /> -->
  </div>

  <div class="landing-features__inner inner">
    <div class="landing-features__header" aria-label="title">
      <h1>Особенности</h1>
      <Image src={imageFeaturesTitleSvgRu} alt="Особенности" />
    </div>

    <ul class="landing-features__list">
      <li class="f-chance bg-ex-dark-900">
        Лимитированное выпадение L-монет при охоте на монстров, для всех членов группы:
        <strong class="block mt-1 md:mt-2">шанс 80%</strong>
      </li>

      <li class="f-client bg-ex-purple">
        <strong class="block mb-1 md:mb-2">один ПК — один клиент</strong>
        *на одном компьютере можно запустить один клиент игры
      </li>

      <li class="f-rates">
        <div class="bg-ex-dark-900">
          <strong>x1</strong>
          <span>Получение<br />Adena, Drop, Spoil</span>
        </div>

        <div class="bg-ex-firmcolor">
          <strong>x1</strong>
          <span>Получение<br />опыта и SP</span>
        </div>
      </li>

      <li class="f-insure bg-ex-purple">
        Наличие <strong>гарантированной модификации и синтеза</strong>
      </li>

      <li class="f-limit bg-ex-dark-900">
        <strong>Лимитированный</strong> оффлайн фарм
      </li>

      <li class="f-rmt bg-ex-firmcolor">
        <strong>Легализация RMT</strong> через биржу Expanse
      </li>

      <li class="f-world bg-ex-ice">
        <strong>Насыщенный</strong> игровой <strong>мир</strong>
      </li>
    </ul>

    <div class="landing-features__cta">
      <Button size="md" text="Подробнее о сервере" />
    </div>
  </div>
</section>
