---
import './spells.css';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
const images = import.meta.glob<{ default: ImageMetadata }>('~/assets/images/spells/**/*.{jpeg,jpg,png,gif}');
const { type, align, title, intro, list } = Astro.props;
---

<script>
  import { Tab } from 'bootstrap';
  const tabElement = document.querySelectorAll('.spells__list');
  const triggerElements = document.querySelectorAll('.spells__nav button');

  tabElement.forEach((el) => {
    const navList = el.querySelector('.spells__nav');
    const tabTrigger = new Tab(navList.getAttribute('id'));

    triggerElements.forEach((el) => {
      el.addEventListener('click', (event) => {
        event.preventDefault();
        tabTrigger.show();
      });
    });
  });
</script>

<div class="spells">
  <div class="spells__intro">
    <p set:html={intro} />
  </div>

  <div class="spells__title">
    {title}
  </div>

  <div class="spells__list">
    <ul class="spells__nav" id={`spells-tabs-${type}`} role="tablist">
      {
        list &&
          list.map((spell, id) => (
            <li class="spells__nav-item" role="presentation">
              <button
                class:list={['spells__nav-button', { [`active`]: id == 0 }]}
                id={`spell-${spell.id}-tab`}
                data-bs-toggle="tab"
                data-bs-target={`#spell-${type}-${spell.id}-tab-pane`}
                type="button"
                role="tab"
                aria-controls={`spell-${spell.id}-tab-pane`}
              >
                <Image inferSize={true} src={images[`${spell.img}`]()} alt="" />
              </button>
            </li>
          ))
      }
    </ul>

    <div class="spells__tab-content">
      {
        list &&
          list.map((spell, id) => (
            <div
              class:list={['spells__tab-pane', { [`active show`]: id == 0 }]}
              id={`spell-${type}-${spell.id}-tab-pane`}
              role="tabpanel"
              aria-labelledby={`${spell.id}-tab`}
              tabindex="0"
            >
              <h3>{spell.title}</h3>
              <p>{spell.text}</p>
            </div>
          ))
      }
    </div>
  </div>
</div>

<style lang="postcss">
  .spells__tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }

</style>
