---
import './updates.css';
import Image from 'astro/components/Image.astro';

const list = [
  {
    id: 'spirit',
    title: 'Дух',
    ctaText: 'Посмотреть умения',
    imgSrc: '/images/spirit.webp',
    text: `Дух - это маг Высших Эльфов, который использует пламенную, морозную, природную магию и магию света. Может экипировать только двуручное магическое дробящее оружие, и когда экипирует его, внешность автоматически меняется в Сферу Духа, которая может использовать разную магию. Может экипировать только символ.`,
  },
  {
    id: 'templar',
    title: 'Священный Храмовник',
    ctaText: 'Посмотреть умения',
    imgSrc: '/images/templar.webp',
    text: `Воин, использующий мощную силу света и обладающий характеристиками классов Воин и Рыцарь.
  Броня не может быть снята, т.к. её нужно поддерживать, чтобы контролировать силу света. Внешний вид не меняется даже при использовании эффектов трансформаций.`,
  },
];
---

<section id="landing-updates" class="landing-updates">
  <div class="landing-updates__bg">
    <img src="/images/cold-effect.png" width="1377" height="900" loading="lazy" decoding="auto" alt="" />
  </div>

  <div class="landing-updates__inner inner">
    <div class="landing-updates__topline">
      <h1>Обновление <strong>Высшие эльфы</strong></h1>
    </div>

    <div class="landing-updates__header">
      <h2>Новая раса</h2>
      <h3>
        Привносит свежесть в мир Адена, расширив возможности игроков и добавив захватывающий новый контент и механики
      </h3>

      <p>
        Все игроки получат доступ к новой расе высших эльфов - Дух и Священный Храмовник, обладающей уникальными
        способностями и талантами. Освойте их мощные навыки и погрузитесь в битвы с новыми силами.
      </p>
    </div>

    <div class="new-race">
      {
        list.map(({ title, id, ctaText, imgSrc, text }) => (
          <div class:list={['new-race__item', { [`${id}`]: id }]} id={id}>
            <div class="new-race__media">
              <img class="new-race__image" loading="lazy" decoding="sync" src={imgSrc} alt="" />
            </div>

            <div class="new-race__cta">
              <div class="new-race__title">{title}</div>
              <div class="new-race__text">
                <p>{text}</p>
              </div>
              <button data-aw-modal type="button" class="new-race__button" onclick={`modal_${id}.showModal()`}>
                {ctaText}
              </button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
